/*
 * Color Variables
 */
 
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/functions";

// Text Selection
$selectionColor: orange;

// Colors
$red: red;
$blue: blue;