/*
 * ScudderStevens.me
 * ===========
 * themes/me.scss
 */
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/*
 * Define media breakpoints map
 * ==========
 * 'XS': Supports  2 column grid
 * 'SM': Supports  4 column grid
 * 'MD': Supports  8 column grid
 * 'LG': Supports 12 column grid
 * 'XL': Supports 12 column grid
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@523&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("fft"),
         url("../../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("fft");
}
@font-face {
    font-family: 'Dosis', sans-serif;
    src: url("../../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("fft");
}
*/
.me {
  background-color: #ffffff;
}

.me .alert {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.me h1, .me h2, .me h3, .me h4, .me h5, .me h6 {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
}

.me p, .me a {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.me h1 {
  font-size: 2rem;
  font-weight: 500;
  font-variation-settings: 'wdth' 90;
  color: #041807;
}

.me h2 {
  font-size: 1.75rem;
  font-weight: 450;
  font-variation-settings: 'wdth' 90;
  color: #082e0e;
}

.me h3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-variation-settings: 'wdth' 90;
  color: #0b4415;
}

.me h4 {
  font-size: 1.25rem;
  font-weight: 350;
  font-variation-settings: 'wdth' 90;
  color: #0f5a1c;
}

.me h5 {
  font-size: 1rem;
  font-weight: 300;
  font-variation-settings: 'wdth' 100;
  color: #127023;
}

.me h6 {
  font-size: .75rem;
  font-weight: 250;
  font-variation-settings: 'wdth' 110;
  color: #168629;
}

.me a,
.me a.icon-link {
  color: #2643db;
  text-decoration: none;
  font-weight: 400;
}

.me a:visited,
.me a.icon-link:visited {
  color: #1d35b1;
  font-weight: 350;
}

.me a:hover,
.me a.icon-link:hover {
  color: #213bc7;
  text-decoration: underline;
  font-weight: 450;
}

.me a:active,
.me a.icon-link:active {
  color: #dfc53c;
  text-decoration: underline;
  font-weight: 500;
}

.me p.mega, .me a.mega {
  font-weight: 350;
  font-size: 1.25rem;
}

.me p.giga, .me a.giga {
  font-weight: 400;
  font-size: 1.5rem;
}

.me p.tera, .me a.tera {
  font-weight: 450;
  font-size: 1.75rem;
}

.me p.micro, .me a.micro {
  font-weight: 250;
  font-size: .85rem;
}

.me p.nano, .me a.nano {
  font-weight: 200;
  font-size: .65rem;
}

.me p.pico, .me a.pico {
  font-weight: 150;
  font-size: .15rem;
}

.me .primary {
  background-color: #3c56df;
}

.me .primary_s1, .me .primary_s10, .me .primary_s100 {
  background-color: #ffffff;
}

.me .primary_s095 {
  background-color: #ebeefc;
}

.me .primary_s09, .me .primary_s090 {
  background-color: #d5dbf8;
}

.me .primary_s085 {
  background-color: #bfc8f5;
}

.me .primary_s08, .me .primary_s080 {
  background-color: #aab5f1;
}

.me .primary_s075 {
  background-color: #94a2ed;
}

.me .primary_s07, .me .primary_s070 {
  background-color: #7e8fea;
}

.me .primary_s065 {
  background-color: #687ce6;
}

.me .primary_s06, .me .primary_s060 {
  background-color: #5269e3;
}

.me .primary_s055 {
  background-color: #3c56df;
}

.me .primary_s05, .me .primary_s050 {
  background-color: #2643db;
}

.me .primary_s045 {
  background-color: #213bc7;
}

.me .primary_s04, .me .primary_s040 {
  background-color: #1d35b1;
}

.me .primary_s035 {
  background-color: #1a2e9b;
}

.me .primary_s03, .me .primary_s030 {
  background-color: #162886;
}

.me .primary_s025 {
  background-color: #122170;
}

.me .primary_s02, .me .primary_s020 {
  background-color: #0f1b5a;
}

.me .primary_s015 {
  background-color: #0b1444;
}

.me .primary_s01, .me .primary_s010 {
  background-color: #080e2e;
}

.me .primary_s005 {
  background-color: #040718;
}

.me .primary_s0, .me .primary_s00, .me .primary_s000 {
  background-color: #000000;
}

.me .secondary {
  background-color: #3cdf58;
}

.me .secondary_s1, .me .secondary_s10, .me .secondary_s100 {
  background-color: #ffffff;
}

.me .secondary_s095 {
  background-color: #ebfcee;
}

.me .secondary_s09, .me .secondary_s090 {
  background-color: #d5f8db;
}

.me .secondary_s085 {
  background-color: #bff5c9;
}

.me .secondary_s08, .me .secondary_s080 {
  background-color: #aaf1b6;
}

.me .secondary_s075 {
  background-color: #94eda3;
}

.me .secondary_s07, .me .secondary_s070 {
  background-color: #7eea91;
}

.me .secondary_s065 {
  background-color: #68e67e;
}

.me .secondary_s06, .me .secondary_s060 {
  background-color: #52e36b;
}

.me .secondary_s055 {
  background-color: #3cdf58;
}

.me .secondary_s05, .me .secondary_s050 {
  background-color: #26db46;
}

.me .secondary_s045 {
  background-color: #21c73e;
}

.me .secondary_s04, .me .secondary_s040 {
  background-color: #1db137;
}

.me .secondary_s035 {
  background-color: #1a9b30;
}

.me .secondary_s03, .me .secondary_s030 {
  background-color: #168629;
}

.me .secondary_s025 {
  background-color: #127023;
}

.me .secondary_s02, .me .secondary_s020 {
  background-color: #0f5a1c;
}

.me .secondary_s015 {
  background-color: #0b4415;
}

.me .secondary_s01, .me .secondary_s010 {
  background-color: #082e0e;
}

.me .secondary_s005 {
  background-color: #041807;
}

.me .secondary_s0, .me .secondary_s00, .me .secondary_s000 {
  background-color: #000000;
}

.me .accent {
  background-color: #df3cc3;
}

.me .accent_s1, .me .accent_s10, .me .accent_s100 {
  background-color: #ffffff;
}

.me .accent_s095 {
  background-color: #fcebf9;
}

.me .accent_s09, .me .accent_s090 {
  background-color: #f8d5f2;
}

.me .accent_s085 {
  background-color: #f5bfeb;
}

.me .accent_s08, .me .accent_s080 {
  background-color: #f1aae5;
}

.me .accent_s075 {
  background-color: #ed94de;
}

.me .accent_s07, .me .accent_s070 {
  background-color: #ea7ed7;
}

.me .accent_s065 {
  background-color: #e668d0;
}

.me .accent_s06, .me .accent_s060 {
  background-color: #e352c9;
}

.me .accent_s055 {
  background-color: #df3cc3;
}

.me .accent_s05, .me .accent_s050 {
  background-color: #db26bc;
}

.me .accent_s045 {
  background-color: #c721aa;
}

.me .accent_s04, .me .accent_s040 {
  background-color: #b11d98;
}

.me .accent_s035 {
  background-color: #9b1a85;
}

.me .accent_s03, .me .accent_s030 {
  background-color: #861672;
}

.me .accent_s025 {
  background-color: #70125f;
}

.me .accent_s02, .me .accent_s020 {
  background-color: #5a0f4d;
}

.me .accent_s015 {
  background-color: #440b3a;
}

.me .accent_s01, .me .accent_s010 {
  background-color: #2e0827;
}

.me .accent_s005 {
  background-color: #180415;
}

.me .accent_s0, .me .accent_s00, .me .accent_s000 {
  background-color: #000000;
}

.me .alt {
  background-color: #dfc53c;
}

.me .alt_s1, .me .alt_s10, .me .alt_s100 {
  background-color: #ffffff;
}

.me .alt_s095 {
  background-color: #fcf9eb;
}

.me .alt_s09, .me .alt_s090 {
  background-color: #f8f3d5;
}

.me .alt_s085 {
  background-color: #f5ecbf;
}

.me .alt_s08, .me .alt_s080 {
  background-color: #f1e6aa;
}

.me .alt_s075 {
  background-color: #eddf94;
}

.me .alt_s07, .me .alt_s070 {
  background-color: #ead97e;
}

.me .alt_s065 {
  background-color: #e6d268;
}

.me .alt_s06, .me .alt_s060 {
  background-color: #e3cc52;
}

.me .alt_s055 {
  background-color: #dfc53c;
}

.me .alt_s05, .me .alt_s050 {
  background-color: #dbbe26;
}

.me .alt_s045 {
  background-color: #c7ad21;
}

.me .alt_s04, .me .alt_s040 {
  background-color: #b19a1d;
}

.me .alt_s035 {
  background-color: #9b871a;
}

.me .alt_s03, .me .alt_s030 {
  background-color: #867416;
}

.me .alt_s025 {
  background-color: #706112;
}

.me .alt_s02, .me .alt_s020 {
  background-color: #5a4e0f;
}

.me .alt_s015 {
  background-color: #443b0b;
}

.me .alt_s01, .me .alt_s010 {
  background-color: #2e2808;
}

.me .alt_s005 {
  background-color: #181504;
}

.me .alt_s0, .me .alt_s00, .me .alt_s000 {
  background-color: #000000;
}

.me #logo {
  width: 65px;
  height: 65px;
  margin: 5px;
}

.me .iso-background__repeating {
  background-image: url("https://cdn.jsdelivr.net/gh/scudderstevens/styles@master/latest/assets/iso__grid-background.png");
  background-repeat: repeat;
}

.me .iso-background__photo {
  background-image: url("https://cdn.jsdelivr.net/gh/scudderstevens/styles@master/latest/assets/iso__grid-pattern-photo-detail.jpg");
  background-repeat: no-repeat;
}

.me .iso-background__mitsubishis {
  background-image: url("https://cdn.jsdelivr.net/gh/scudderstevens/styles@master/latest/assets/iso__grid-Mitsubishis.jpg");
  background-repeat: no-repeat;
}

.me a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
}

.me a.btn {
  color: #122170;
  background-color: white;
  border: solid #bfc8f5 1px;
  text-decoration: none;
}

.me a.btn:visited {
  color: #122170;
  border: solid #122170 1px;
}

.me a.btn:hover {
  color: #213bc7;
  border: solid #aab5f1 1px;
  text-decoration: underline;
}

.me a.btn:active {
  color: #c7ad21;
  border: solid #867416 1px;
  text-decoration: underline;
}

.me a.btn-nav_back,
.me a.btn-sidebar_toggle-menu,
.me a.btn-alert_confirm {
  color: #122170;
  background-color: white;
  border: solid #bfc8f5 1px;
}

.me a.btn-nav_back:visited,
.me a.btn-sidebar_toggle-menu:visited,
.me a.btn-alert_confirm:visited {
  color: #213bc7;
  background-color: #ffffff;
  border: solid #122170 1px;
}

.me a.btn-nav_back:hover,
.me a.btn-sidebar_toggle-menu:hover,
.me a.btn-alert_confirm:hover {
  color: #ffffff;
  background-color: #213bc7;
  border: solid #122170 1px;
}

.me a.btn-nav_back:active,
.me a.btn-sidebar_toggle-menu:active,
.me a.btn-alert_confirm:active {
  color: #ffffff;
  background-color: #c7ad21;
  border: solid #867416 1px;
}

.me a.btn-alert_confirm {
  background-color: white;
  border: solid #f5ecbf 1px;
}

.me a.icon-link svg,
.me a.btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.me a.btn-nav_back,
.me a.btn-sidebar_toggle-menu {
  padding: .75rem;
}

.me a.btn-nav_main,
.me a.btn-alert_confirm {
  margin: .5rem .75rem;
  padding: .75rem .5rem;
}

.me .grid__fixed-width a.btn-nav_back,
.me .grid__fixed-width a.btn-sidebar_toggle-menu {
  margin: .5rem 0;
}

.me a.btn-nav_main svg,
.me a.btn-alert_confirm svg {
  margin-right: .75rem;
}

.me .nav-bar,
.me .cta-bar_alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: .5rem;
}

.me .grid__fixed-width .nav-bar,
.me .grid__fixed-width .cta-bar_alert {
  padding: .5rem 0;
}

.me footer p {
  color: #ffffff;
}
