/*
 * ScudderStevens.me
 * ===========
 * themes/me.scss
 */
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/*
 * Define media breakpoints map
 * ==========
 * 'XS': Supports  2 column grid
 * 'SM': Supports  4 column grid
 * 'MD': Supports  8 column grid
 * 'LG': Supports 12 column grid
 * 'XL': Supports 12 column grid
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@523&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.me {
  background-color: #ffffff;
  /*  .btn-grp,
        .btn-wrapper {
        &:first-child {
            .btn {
                margin: .5rem .35rem .5rem 0;
            }
        }
        &:last-child {
            .btn {
                margin: .5rem 0 .5rem .35rem;
            }
        }
    } */
}

.me .alert {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.me h1, .me h2, .me h3, .me h4, .me h5, .me h6 {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
}

.me p, .me a, .me li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

.me h1 {
  font-size: 2.25rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500, 'wdth' 90;
  color: #180415;
}

.me h2 {
  font-size: 2rem;
  font-weight: 450;
  font-variation-settings: 'wght' 450, 'wdth' 90;
  color: #2e0827;
}

.me h3 {
  font-size: 1.75rem;
  font-weight: 400;
  font-variation-settings: 'wght' 400, 'wdth' 90;
  color: #440b3a;
}

.me h4 {
  font-size: 1.25rem;
  font-weight: 350;
  font-variation-settings: 'wght' 350, 'wdth' 90;
  color: #5a0f4d;
}

.me h5 {
  font-size: 1.25rem;
  font-weight: 300;
  font-variation-settings: 'wght' 300,'wdth' 100;
  color: #70125f;
}

.me h6 {
  font-size: 1rem;
  font-weight: 250;
  font-variation-settings: 'wght' 250, 'wdth' 110;
  color: #861672;
}

.me p strong {
  font-weight: 450;
}

.me p.quote {
  font-style: italic;
  font-variation-settings: 'ital' 1;
  text-shadow: 1px 2px 1px #fff;
  color: #443b0b;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #dfc53c 65%);
  display: inline;
}

.me p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}

.me p.quote svg .dbl-quote {
  fill: #dfc53c;
}

.me p.quote-src {
  background: linear-gradient(180deg, #f5ecbf 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}

.me p.quote-src a:hover {
  background: #ffffff;
}

.me p.mega,
.me p.mega a,
.me a.mega {
  font-weight: 350;
  font-size: 1.5rem;
}

.me p.giga,
.me p.giga a,
.me a.giga {
  font-weight: 400;
  font-size: 1.75rem;
}

.me p.tera,
.me p.tera a,
.me a.tera {
  font-weight: 450;
  font-size: 2rem;
}

.me p.micro,
.me p.micro a
a.micro {
  font-weight: 250;
  font-size: 1.1rem;
}

.me p.nano,
.me p.nano a,
.me a.nano {
  font-weight: 200;
  font-size: .85rem;
}

.me p.pico,
.me p.pico a,
.me a.pico {
  font-weight: 150;
  font-size: .60rem;
}

.me p a {
  color: #2643db;
  text-decoration: none;
}

.me p a:visited {
  color: #1d35b1;
}

.me p a:hover {
  color: #1db137;
  text-decoration: underline;
}

.me p a:active {
  color: #dfc53c;
  text-decoration: underline;
}

.me a.icon-link {
  color: #2643db;
  text-decoration: none;
  font-weight: 400;
}

.me a.icon-link svg {
  width: 1.15rem;
  height: 1.15rem;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: -.15rem;
  color: #aab5f1;
}

.me a.icon-link:visited {
  color: #1d35b1;
}

.me a.icon-link:visited svg {
  color: #1d35b1;
}

.me a.icon-link:hover {
  color: #1db137;
  text-decoration: underline;
}

.me a.icon-link:hover svg {
  color: #1db137;
}

.me a.icon-link:active {
  color: #dfc53c;
  text-decoration: underline;
}

.me a.icon-link:active svg {
  color: #dfc53c;
}

.me a.icon-link.external {
  text-decoration: none;
}

.me a.icon-link.external svg {
  width: 1rem;
  height: 1rem;
  margin-left: .25rem;
  margin-bottom: 0;
  color: #aab5f1;
}

.me a.icon-link.external:visited {
  color: #1d35b1;
}

.me a.icon-link.external:visited svg {
  color: #1d35b1;
}

.me a.icon-link.external:hover {
  color: #1db137;
  text-decoration: underline;
}

.me a.icon-link.external:hover svg {
  color: #1db137;
}

.me a.icon-link.external:active {
  color: #dfc53c;
  text-decoration: underline;
}

.me a.icon-link.external:active svg {
  color: #dfc53c;
}

.me .primary {
  background-color: #3c56df;
}

.me .primary_s1, .me .primary_s10, .me .primary_s100 {
  background-color: #ffffff;
}

.me .primary_s095 {
  background-color: #ebeefc;
}

.me .primary_s09, .me .primary_s090 {
  background-color: #d5dbf8;
}

.me .primary_s085 {
  background-color: #bfc8f5;
}

.me .primary_s08, .me .primary_s080 {
  background-color: #aab5f1;
}

.me .primary_s075 {
  background-color: #94a2ed;
}

.me .primary_s07, .me .primary_s070 {
  background-color: #7e8fea;
}

.me .primary_s070a70 {
  background-color: rgba(126, 143, 234, 0.7);
}

.me .primary_s065 {
  background-color: #687ce6;
}

.me .primary_s06, .me .primary_s060 {
  background-color: #5269e3;
}

.me .primary_s055 {
  background-color: #3c56df;
}

.me .primary_s05, .me .primary_s050 {
  background-color: #2643db;
}

.me .primary_s045 {
  background-color: #213bc7;
}

.me .primary_s04, .me .primary_s040 {
  background-color: #1d35b1;
}

.me .primary_s035 {
  background-color: #1a2e9b;
}

.me .primary_s03, .me .primary_s030 {
  background-color: #162886;
}

.me .primary_s025 {
  background-color: #122170;
}

.me .primary_s02, .me .primary_s020 {
  background-color: #0f1b5a;
}

.me .primary_s015 {
  background-color: #0b1444;
}

.me .primary_s01, .me .primary_s010 {
  background-color: #080e2e;
}

.me .primary_s005 {
  background-color: #040718;
}

.me .primary_s0, .me .primary_s00, .me .primary_s000 {
  background-color: #000000;
}

.me .secondary {
  background-color: #3cdf58;
}

.me .secondary_s1, .me .secondary_s10, .me .secondary_s100 {
  background-color: #ffffff;
}

.me .secondary_s095 {
  background-color: #ebfcee;
}

.me .secondary_s09, .me .secondary_s090 {
  background-color: #d5f8db;
}

.me .secondary_s085 {
  background-color: #bff5c9;
}

.me .secondary_s08, .me .secondary_s080 {
  background-color: #aaf1b6;
}

.me .secondary_s075 {
  background-color: #94eda3;
}

.me .secondary_s07, .me .secondary_s070 {
  background-color: #7eea91;
}

.me .secondary_s065 {
  background-color: #68e67e;
}

.me .secondary_s06, .me .secondary_s060 {
  background-color: #52e36b;
}

.me .secondary_s055 {
  background-color: #3cdf58;
}

.me .secondary_s05, .me .secondary_s050 {
  background-color: #26db46;
}

.me .secondary_s045 {
  background-color: #21c73e;
}

.me .secondary_s04, .me .secondary_s040 {
  background-color: #1db137;
}

.me .secondary_s035 {
  background-color: #1a9b30;
}

.me .secondary_s03, .me .secondary_s030 {
  background-color: #168629;
}

.me .secondary_s025 {
  background-color: #127023;
}

.me .secondary_s02, .me .secondary_s020 {
  background-color: #0f5a1c;
}

.me .secondary_s015 {
  background-color: #0b4415;
}

.me .secondary_s01, .me .secondary_s010 {
  background-color: #082e0e;
}

.me .secondary_s005 {
  background-color: #041807;
}

.me .secondary_s0, .me .secondary_s00, .me .secondary_s000 {
  background-color: #000000;
}

.me .accent {
  background-color: #df3cc3;
}

.me .accent_s1, .me .accent_s10, .me .accent_s100 {
  background-color: #ffffff;
}

.me .accent_s095 {
  background-color: #fcebf9;
}

.me .accent_s09, .me .accent_s090 {
  background-color: #f8d5f2;
}

.me .accent_s085 {
  background-color: #f5bfeb;
}

.me .accent_s08, .me .accent_s080 {
  background-color: #f1aae5;
}

.me .accent_s075 {
  background-color: #ed94de;
}

.me .accent_s07, .me .accent_s070 {
  background-color: #ea7ed7;
}

.me .accent_s065 {
  background-color: #e668d0;
}

.me .accent_s06, .me .accent_s060 {
  background-color: #e352c9;
}

.me .accent_s055 {
  background-color: #df3cc3;
}

.me .accent_s05, .me .accent_s050 {
  background-color: #db26bc;
}

.me .accent_s045 {
  background-color: #c721aa;
}

.me .accent_s04, .me .accent_s040 {
  background-color: #b11d98;
}

.me .accent_s035 {
  background-color: #9b1a85;
}

.me .accent_s03, .me .accent_s030 {
  background-color: #861672;
}

.me .accent_s025 {
  background-color: #70125f;
}

.me .accent_s02, .me .accent_s020 {
  background-color: #5a0f4d;
}

.me .accent_s015 {
  background-color: #440b3a;
}

.me .accent_s01, .me .accent_s010 {
  background-color: #2e0827;
}

.me .accent_s005 {
  background-color: #180415;
}

.me .accent_s0, .me .accent_s00, .me .accent_s000 {
  background-color: #000000;
}

.me .alt {
  background-color: #dfc53c;
}

.me .alt_s1, .me .alt_s10, .me .alt_s100 {
  background-color: #ffffff;
}

.me .alt_s095 {
  background-color: #fcf9eb;
}

.me .alt_s09, .me .alt_s090 {
  background-color: #f8f3d5;
}

.me .alt_s085 {
  background-color: #f5ecbf;
}

.me .alt_s08, .me .alt_s080 {
  background-color: #f1e6aa;
}

.me .alt_s075 {
  background-color: #eddf94;
}

.me .alt_s07, .me .alt_s070 {
  background-color: #ead97e;
}

.me .alt_s065 {
  background-color: #e6d268;
}

.me .alt_s06, .me .alt_s060 {
  background-color: #e3cc52;
}

.me .alt_s055 {
  background-color: #dfc53c;
}

.me .alt_s05, .me .alt_s050 {
  background-color: #dbbe26;
}

.me .alt_s045 {
  background-color: #c7ad21;
}

.me .alt_s04, .me .alt_s040 {
  background-color: #b19a1d;
}

.me .alt_s035 {
  background-color: #9b871a;
}

.me .alt_s03, .me .alt_s030 {
  background-color: #867416;
}

.me .alt_s025 {
  background-color: #706112;
}

.me .alt_s02, .me .alt_s020 {
  background-color: #5a4e0f;
}

.me .alt_s015 {
  background-color: #443b0b;
}

.me .alt_s01, .me .alt_s010 {
  background-color: #2e2808;
}

.me .alt_s005 {
  background-color: #181504;
}

.me .alt_s0, .me .alt_s00, .me .alt_s000 {
  background-color: #000000;
}

.me #logo {
  width: 65px;
  height: 65px;
  margin: auto 1.5rem auto -5px;
}

.me .iso-background__repeating-grid {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-repeating-background.png");
  background-repeat: repeat;
}

.me .iso-background__repeating-grid.primary {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-repeating-background_primary.png");
  background-repeat: repeat;
}

.me .iso-background__repeating-grid.mono {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-repeating-background_mono.png");
  background-repeat: repeat;
}

.me .iso-background__photo {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-pattern-photo-detail-1500w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.me .iso-background__mitsubishis {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-Mitsubishis-1500w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.me .iso-background__repeating-grid.fixed,
.me .iso-background__photo.fixed,
.me .iso-background__mitsubishis.fixed {
  background-attachment: fixed;
}

.me .intro-duo {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.me .intro-duo__profile {
  display: flex;
  flex-direction: column;
}

.me .intro-duo__profile .profile-img {
  background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-750/content/Scudder-Trixie_profile-1000w668h.jpg");
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: center;
  background-size: cover;
  height: 500px;
  width: 500px;
}

.me .intro-duo__profile .intro-duo__title {
  display: block;
  margin: 0 2rem auto;
}

.me .intro-duo__copy {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px);
  margin: auto 2rem;
  align-content: center;
}

.me .intro-duo__copy .intro-duo__title {
  display: none;
}

@media (min-width: 961px) and (max-width: 1180px) {
  .me .intro-duo__profile {
    margin-bottom: 0;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-550/content/Scudder-Trixie_profile-550w367h.jpg");
    height: 250px;
    width: 250px;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    display: flex;
    flex-direction: column;
    width: calc( 100% - 4rem);
    margin: 0;
    padding: 2rem;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 960px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 500px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-550/content/Scudder-Trixie_profile-550w367h.jpg");
    background-position-x: center;
    height: 500px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    margin: 0;
    width: calc( 100% - 4rem);
    padding: 2rem;
    align-content: top;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}

@media (min-width: 376px) and (max-width: 575px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 300px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-250/content/Scudder-Trixie_profile-250w167h.jpg");
    background-position-x: center;
    height: 300px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    margin: 0;
    width: calc( 100% - 4rem);
    padding: 2rem;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}

@media (max-width: 375px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 250px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-250/content/Scudder-Trixie_profile-250w167h.jpg");
    background-position-x: center;
    height: 250px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    display: block;
    width: 100%;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}

.me a[class^="btn-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
}

.me a[class^="btn-"] svg {
  width: 1.75rem;
  height: 1.75rem;
}

.me a[class^="btn-"].primary {
  color: #2643db;
  background-color: white;
  text-decoration: none;
}

.me a[class^="btn-"].primary:visited {
  color: #122170;
}

.me a[class^="btn-"].primary:hover {
  color: #1db137;
  text-decoration: underline;
}

.me a[class^="btn-"].primary:active {
  color: #c7ad21;
  text-decoration: underline;
}

.me a.btn-nav_back,
.me a.btn-sidebar_toggle-menu {
  color: #122170;
  background-color: #7e8fea;
}

.me a.btn-nav_back svg,
.me a.btn-sidebar_toggle-menu svg {
  width: 1.75rem;
  height: 1.75rem;
}

.me a.btn-nav_back:visited,
.me a.btn-sidebar_toggle-menu:visited {
  color: #213bc7;
  background-color: #ffffff;
}

.me a.btn-nav_back:hover,
.me a.btn-sidebar_toggle-menu:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #213bc7;
}

.me a.btn-nav_back:active,
.me a.btn-sidebar_toggle-menu:active {
  color: #2e2808;
  background-color: #c7ad21;
}

.me a.btn-alert_confirm {
  background-color: white;
  border: solid #f5ecbf 1px;
}

.me a.btn-alert_confirm:visited {
  color: #c7ad21;
  background-color: #ffffff;
  border: solid #706112 1px;
}

.me a.btn-alert_confirm:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #9b871a;
  border: solid #706112 1px;
}

.me a.btn-alert_confirm:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #21c73e;
  border: solid #168629 1px;
}

.me a.btn-alert_confirm svg {
  margin-top: -.25rem;
}

.me a.btn-nav_back,
.me a.btn-sidebar_toggle-menu {
  padding: .75rem;
}

.me .grid__fixed-width a.btn-nav_back,
.me .grid__fixed-width a.btn-sidebar_toggle-menu {
  margin: .5rem 0;
}

.me a.btn-nav_main {
  font-weight: 350;
  font-size: 2rem;
  padding: 1.25rem 1rem;
  text-decoration: none;
}

.me a.btn-nav_main svg {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

.me a.btn-nav_main.primary {
  color: #aab5f1;
  background-color: #0a133f;
}

.me a.btn-nav_main.primary svg {
  color: #080e2e;
}

.me a.btn-nav_main.primary svg .logo {
  fill: #aab5f1;
  stroke: #aab5f1;
}

.me a.btn-nav_main.accent {
  color: #db26bc;
  background-color: #3f0a36;
}

.me a.btn-nav_main.accent svg {
  color: #2e0827;
}

.me a.btn-nav_main.accent svg .logo {
  fill: #b11d98;
  stroke: #b11d98;
}

.me a.btn-nav_main:visited.primary {
  color: #687ce6;
}

.me a.btn-nav_main:visited.primary svg {
  color: #091037;
}

.me a.btn-nav_main:visited.primary svg .logo {
  fill: #687ce6;
  stroke: #687ce6;
}

.me a.btn-nav_main:visited.accent {
  color: #e668d0;
}

.me a.btn-nav_main:visited.accent svg {
  color: #37092f;
}

.me a.btn-nav_main:visited.accent svg .logo {
  fill: #e668d0;
  stroke: #e668d0;
}

.me a.btn-nav_main:hover {
  text-decoration: underline;
}

.me a.btn-nav_main:hover.primary {
  color: #080e2e;
  background-color: #3c56df;
}

.me a.btn-nav_main:hover.primary svg {
  color: #080e2e;
}

.me a.btn-nav_main:hover.primary svg .logo {
  fill: #5269e3;
  stroke: #5269e3;
}

.me a.btn-nav_main:hover.accent {
  color: #2e0827;
  background-color: #df3cc3;
}

.me a.btn-nav_main:hover.accent svg {
  color: #2e0827;
}

.me a.btn-nav_main:hover.accent svg .logo {
  fill: #c721aa;
  stroke: #c721aa;
}

.me a.btn-nav_main:active {
  text-decoration: underline;
  background-color: #dfc53c;
}

.me a.btn-nav_main:active.primary, .me a.btn-nav_main:active.accent {
  color: #2e2808;
  background-color: #dfc53c;
}

.me a.btn-nav_main:active.primary svg, .me a.btn-nav_main:active.accent svg {
  color: #c7ad21;
}

.me a.btn-nav_main:active.primary svg .logo, .me a.btn-nav_main:active.accent svg .logo {
  fill: #2e2808;
  stroke: #2e2808;
}

.me a.btn-alert_confirm svg {
  margin-right: .75rem;
}

.me .ribbon_nav,
.me .ribbon_alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.me .grid__fixed-width .ribbon_nav,
.me .grid__fixed-width .ribbon_alert {
  padding: .5rem 0;
}

.me .ribbon_alert p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85rem;
}

.me .ribbon_alert p strong {
  font-weight: 600;
}

.me .career-timeline {
  padding-bottom: 1.75rem;
}

.me .project-header svg.current, .me .project-tags svg.current, .me .project-tech-stack svg.current, .me .project-conclusion svg.current {
  margin: auto 1.25rem auto 0;
}

.me .project-header svg.current .svg-elem, .me .project-tags svg.current .svg-elem, .me .project-tech-stack svg.current .svg-elem, .me .project-conclusion svg.current .svg-elem {
  fill: none;
  stroke: #5a0f4d;
}

.me .project-header svg.current .svg-fill-elem, .me .project-tags svg.current .svg-fill-elem, .me .project-tech-stack svg.current .svg-fill-elem, .me .project-conclusion svg.current .svg-fill-elem {
  fill: #ffffff;
}

.me .project-header svg.current .svg-fill-elem,
.me .project-header svg.current .svg-line-elem, .me .project-tags svg.current .svg-fill-elem,
.me .project-tags svg.current .svg-line-elem, .me .project-tech-stack svg.current .svg-fill-elem,
.me .project-tech-stack svg.current .svg-line-elem, .me .project-conclusion svg.current .svg-fill-elem,
.me .project-conclusion svg.current .svg-line-elem {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.me .project-header .project-owner {
  margin: 0 auto 20px 0;
}

.me .project-header .dropdown {
  width: 20px;
  height: 20px;
  margin: auto auto auto 10px;
  padding: 3px 20px;
  position: relative;
  display: inline-block;
}

.me .project-header .dropdown svg.dropbtn {
  border: none;
  cursor: pointer;
}

.me .project-header .dropdown svg.dropbtn circle {
  fill: none;
  stroke: #2643db;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.me .project-header .dropdown .dropdown-content {
  display: none;
  position: absolute;
}

.me .project-header .dropdown .dropdown-content_top,
.me .project-header .dropdown .dropdown-content_bottom {
  height: 6px;
  background-color: #687ce6;
}

.me .project-header .dropdown .dropdown-content_top {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.me .project-header .dropdown .dropdown-content_bottom {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.me .project-header .dropdown:hover {
  background-color: #2643db;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.me .project-header .dropdown:hover svg.dropbtn {
  padding-right: 120px;
}

.me .project-header .dropdown:hover svg.dropbtn circle {
  stroke: #ffffff;
}

.me .project-header .dropdown:hover .dropdown-content {
  display: block;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -20px;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.me .project-header .dropdown:hover .dropdown-content a {
  margin: 0;
  color: #2643db;
  text-decoration: none;
  display: flex;
}

.me .project-header .dropdown:hover .dropdown-content a svg {
  margin: 0;
  padding: 10px 20px;
  background-color: #f3f3f3;
}

.me .project-header .dropdown:hover .dropdown-content a span {
  padding: 8px 20px 8px 10px;
}

.me .project-header .dropdown:hover .dropdown-content a:hover {
  color: #1db137;
  background-color: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.me .project-header .dropdown:hover .dropdown-content a:hover svg {
  background-color: #e6e6e6;
}

.me .project-tags ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.me .project-tags ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: .25rem 2rem .25rem 0;
}

.me .project-tags ul li svg.current {
  margin: .25rem .5rem .25rem 0;
}

.me .project-tags ul li .term {
  font-weight: 250;
  font-size: 1rem;
  color: #5a0f4d;
  text-decoration: none;
  margin: auto 0;
}

.me .project-description {
  margin-bottom: 1.75rem;
}

.me .project-description h4 {
  margin: .5rem 0 .5rem;
}

.me .project-description p {
  margin: .5rem 2rem .5rem 0;
}

.me .project-tech-stack {
  margin-bottom: 1.75rem;
}

.me .project-conclusion {
  padding: 2rem 0;
}

.me .project-conclusion h4 {
  margin: 1.25rem 0;
}

.me .project-conclusion p {
  margin: .5rem 2rem 1.25rem 0;
}

.me footer {
  /* p.quote {
            color: $white;
            text-shadow: 1px 2px 1px darken( $accent, 45% );
            background: linear-gradient(180deg, rgba(255,255,255,0) 65%, darken( $accent, 20% ) 65%);
            svg .dbl-quote {
                fill: darken( $accent, 20% );
            }
        } */
  /* p.quote-src {
            background:linear-gradient(180deg, darken( $accent, 35% ) 50%, rgba(255,255,255,0) 50% ); 
            margin: 0;
            padding: 1rem 0;
        }*/
}

.me footer .top {
  padding: 1.5rem 0;
}

.me footer .middle {
  background-color: #3f0a36;
}

.me footer .profile-wrapper {
  width: 20%;
}

.me footer img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.me footer .quote-wrapper {
  display: block;
  width: 80%;
}

.me footer p {
  color: #ffffff;
}

.me footer p.quote {
  font-style: italic;
  font-variation-settings: 'ital' 1;
  text-shadow: 1px 2px 1px #2e0827;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #9b1a85 65%);
  display: inline;
}

.me footer p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}

.me footer p.quote svg .dbl-quote {
  fill: #9b1a85;
}

.me footer p.quote-src {
  background: linear-gradient(180deg, #5a0f4d 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}

.me footer p.quote-src a:hover {
  background: #ffffff;
}

.me footer img.logo {
  width: 32px;
  height: 32px;
  margin: 5px 0;
}

.me footer a.btn-nav_networks {
  padding: .75rem .5rem;
  color: #b11d98;
  background-color: #3f0a36;
}

.me footer a.btn-nav_networks svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .35rem;
  color: #2e0827;
}

.me footer a.btn-nav_networks svg .logo {
  fill: #b11d98;
  stroke: #b11d98;
}

.me footer a.btn-nav_networks:visited {
  color: #861672;
}

.me footer a.btn-nav_networks:visited svg {
  color: #37092f;
}

.me footer a.btn-nav_networks:visited svg .logo {
  fill: #861672;
  stroke: #861672;
}

.me footer a.btn-nav_networks:hover {
  color: #c721aa;
  background-color: #631054;
  text-decoration: underline;
}

.me footer a.btn-nav_networks:hover svg {
  color: #2e0827;
}

.me footer a.btn-nav_networks:hover svg .logo {
  fill: #c721aa;
  stroke: #c721aa;
}

.me footer a.btn-nav_networks:active {
  color: #ffffff;
  text-decoration: underline;
}

.me footer a.btn-nav_networks:active svg {
  color: #180415;
}

.me footer a.btn-nav_networks:active svg .logo {
  fill: #ffffff;
  stroke: #ffffff;
}

.me footer .copyright {
  margin: auto 0 auto auto;
}

@media (min-width: 576px) and (max-width: 960px) {
  .me footer .profile-wrapper {
    width: 33.333%;
  }
  .me footer .quote-wrapper {
    width: 66.666%;
  }
  .me .btn-grp,
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    padding: .75rem 2.5rem;
    justify-content: flex-start;
  }
}

@media (min-width: 376px) and (max-width: 575px) {
  .me footer .profile-wrapper {
    width: calc(100% - 5rem);
    padding: 2.5rem 2.5rem 0;
  }
  .me footer img.profile {
    margin: 0 auto;
  }
  .me footer .quote-wrapper {
    width: calc(100% - 5rem);
    padding: .75rem 2.5rem;
  }
  .me footer .grid__fixed-width.top {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .btn-grp,
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    padding: .75rem 2.5rem;
    justify-content: flex-start;
  }
}

@media (max-width: 375px) {
  .me .btn-grp,
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    justify-content: flex-start;
  }
}

/*footer .btn-grp .btn {
        a[class^="btn-"] {
            margin: .5rem .35rem;
        }
        &:first-of-type {
            a[class^="btn-"] {
                margin: .5rem .35rem .5rem 0;
            }
        }
        &:last-of-type {
            a[class^="btn-"] {
                margin: .5rem 0 .5rem .35rem;
            }
        }
    }*/
