/*
 * VerdantTongu.es
 * ===========
 * themes/verdant.scss
 */
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/*
 * Define media breakpoints map
 * ==========
 * 'XS': Supports  2 column grid
 * 'SM': Supports  4 column grid
 * 'MD': Supports  8 column grid
 * 'LG': Supports 12 column grid
 * 'XL': Supports 12 column grid
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@523&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.vt {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.vt .alert {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.vt h1, .vt h2, .vt h3, .vt h4, .vt h5, .vt h6 {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
}

.vt p, .vt a {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.vt h1 {
  font-size: 2rem;
  font-weight: 500;
  font-variation-settings: 'wdth' 90;
  color: #040c18;
}

.vt h2 {
  font-size: 1.75rem;
  font-weight: 450;
  font-variation-settings: 'wdth' 90;
  color: #08172e;
}

.vt h3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-variation-settings: 'wdth' 90;
  color: #0b2344;
}

.vt h4 {
  font-size: 1.25rem;
  font-weight: 350;
  font-variation-settings: 'wdth' 90;
  color: #0f2e5a;
}

.vt h5 {
  font-size: 1rem;
  font-weight: 300;
  font-variation-settings: 'wdth' 100;
  color: #123970;
}

.vt h6 {
  font-size: .75rem;
  font-weight: 250;
  font-variation-settings: 'wdth' 110;
  color: #164486;
}

.vt a,
.vt a.icon-link {
  color: #db26ae;
  text-decoration: none;
  font-weight: 400;
}

.vt a:visited,
.vt a.icon-link:visited {
  color: #b11d8c;
}

.vt a:hover,
.vt a.icon-link:hover {
  color: #c7219d;
  text-decoration: underline;
}

.vt a:active,
.vt a.icon-link:active {
  color: #3cdf65;
  text-decoration: underline;
}

.vt a.icon-link svg {
  margin-bottom: -.25rem;
}

.vt p.mega, .vt a.mega {
  font-weight: 350;
  font-size: 1.25rem;
}

.vt p.giga, .vt a.giga {
  font-weight: 400;
  font-size: 1.5rem;
}

.vt p.tera, .vt a.tera {
  font-weight: 450;
  font-size: 1.75rem;
}

.vt p.micro, .vt a.micro {
  font-weight: 250;
  font-size: .85rem;
}

.vt p.nano, .vt a.nano {
  font-weight: 200;
  font-size: .65rem;
}

.vt p.pico, .vt a.pico {
  font-weight: 150;
  font-size: .15rem;
}

.vt p strong {
  font-weight: 450;
}

.vt .primary {
  background-color: #df3cb6;
}

.vt .primary_s1, .vt .primary_s10, .vt .primary_s100 {
  background-color: #ffffff;
}

.vt .primary_s095 {
  background-color: #fcebf8;
}

.vt .primary_s09, .vt .primary_s090 {
  background-color: #f8d5ef;
}

.vt .primary_s085 {
  background-color: #f5bfe7;
}

.vt .primary_s08, .vt .primary_s080 {
  background-color: #f1aadf;
}

.vt .primary_s075 {
  background-color: #ed94d7;
}

.vt .primary_s07, .vt .primary_s070 {
  background-color: #ea7ecf;
}

.vt .primary_s065 {
  background-color: #e668c6;
}

.vt .primary_s06, .vt .primary_s060 {
  background-color: #e352be;
}

.vt .primary_s055 {
  background-color: #df3cb6;
}

.vt .primary_s05, .vt .primary_s050 {
  background-color: #db26ae;
}

.vt .primary_s045 {
  background-color: #c7219d;
}

.vt .primary_s04, .vt .primary_s040 {
  background-color: #b11d8c;
}

.vt .primary_s035 {
  background-color: #9b1a7b;
}

.vt .primary_s03, .vt .primary_s030 {
  background-color: #861669;
}

.vt .primary_s025 {
  background-color: #701258;
}

.vt .primary_s02, .vt .primary_s020 {
  background-color: #5a0f47;
}

.vt .primary_s015 {
  background-color: #440b36;
}

.vt .primary_s01, .vt .primary_s010 {
  background-color: #2e0824;
}

.vt .primary_s005 {
  background-color: #180413;
}

.vt .primary_s0, .vt .primary_s00, .vt .primary_s000 {
  background-color: #000000;
}

.vt .secondary {
  background-color: #3c80df;
}

.vt .secondary_s1, .vt .secondary_s10, .vt .secondary_s100 {
  background-color: #ffffff;
}

.vt .secondary_s095 {
  background-color: #ebf2fc;
}

.vt .secondary_s09, .vt .secondary_s090 {
  background-color: #d5e4f8;
}

.vt .secondary_s085 {
  background-color: #bfd5f5;
}

.vt .secondary_s08, .vt .secondary_s080 {
  background-color: #aac7f1;
}

.vt .secondary_s075 {
  background-color: #94b9ed;
}

.vt .secondary_s07, .vt .secondary_s070 {
  background-color: #7eabea;
}

.vt .secondary_s065 {
  background-color: #689ce6;
}

.vt .secondary_s06, .vt .secondary_s060 {
  background-color: #528ee3;
}

.vt .secondary_s055 {
  background-color: #3c80df;
}

.vt .secondary_s05, .vt .secondary_s050 {
  background-color: #2671db;
}

.vt .secondary_s045 {
  background-color: #2166c7;
}

.vt .secondary_s04, .vt .secondary_s040 {
  background-color: #1d5bb1;
}

.vt .secondary_s035 {
  background-color: #1a4f9b;
}

.vt .secondary_s03, .vt .secondary_s030 {
  background-color: #164486;
}

.vt .secondary_s025 {
  background-color: #123970;
}

.vt .secondary_s02, .vt .secondary_s020 {
  background-color: #0f2e5a;
}

.vt .secondary_s015 {
  background-color: #0b2344;
}

.vt .secondary_s01, .vt .secondary_s010 {
  background-color: #08172e;
}

.vt .secondary_s005 {
  background-color: #040c18;
}

.vt .secondary_s0, .vt .secondary_s00, .vt .secondary_s000 {
  background-color: #000000;
}

.vt .accent {
  background-color: #df9b3c;
}

.vt .accent_s1, .vt .accent_s10, .vt .accent_s100 {
  background-color: #ffffff;
}

.vt .accent_s095 {
  background-color: #fcf5eb;
}

.vt .accent_s09, .vt .accent_s090 {
  background-color: #f8ead5;
}

.vt .accent_s085 {
  background-color: #f5dfbf;
}

.vt .accent_s08, .vt .accent_s080 {
  background-color: #f1d3aa;
}

.vt .accent_s075 {
  background-color: #edc894;
}

.vt .accent_s07, .vt .accent_s070 {
  background-color: #eabd7e;
}

.vt .accent_s065 {
  background-color: #e6b268;
}

.vt .accent_s06, .vt .accent_s060 {
  background-color: #e3a752;
}

.vt .accent_s055 {
  background-color: #df9b3c;
}

.vt .accent_s05, .vt .accent_s050 {
  background-color: #db9026;
}

.vt .accent_s045 {
  background-color: #c78221;
}

.vt .accent_s04, .vt .accent_s040 {
  background-color: #b1741d;
}

.vt .accent_s035 {
  background-color: #9b661a;
}

.vt .accent_s03, .vt .accent_s030 {
  background-color: #865716;
}

.vt .accent_s025 {
  background-color: #704912;
}

.vt .accent_s02, .vt .accent_s020 {
  background-color: #5a3b0f;
}

.vt .accent_s015 {
  background-color: #442c0b;
}

.vt .accent_s01, .vt .accent_s010 {
  background-color: #2e1e08;
}

.vt .accent_s005 {
  background-color: #181004;
}

.vt .accent_s0, .vt .accent_s00, .vt .accent_s000 {
  background-color: #000000;
}

.vt .alt {
  background-color: #3cdf65;
}

.vt .alt_s1, .vt .alt_s10, .vt .alt_s100 {
  background-color: #ffffff;
}

.vt .alt_s095 {
  background-color: #ebfcef;
}

.vt .alt_s09, .vt .alt_s090 {
  background-color: #d5f8de;
}

.vt .alt_s085 {
  background-color: #bff5cd;
}

.vt .alt_s08, .vt .alt_s080 {
  background-color: #aaf1bb;
}

.vt .alt_s075 {
  background-color: #94edaa;
}

.vt .alt_s07, .vt .alt_s070 {
  background-color: #7eea99;
}

.vt .alt_s065 {
  background-color: #68e688;
}

.vt .alt_s06, .vt .alt_s060 {
  background-color: #52e376;
}

.vt .alt_s055 {
  background-color: #3cdf65;
}

.vt .alt_s05, .vt .alt_s050 {
  background-color: #26db54;
}

.vt .alt_s045 {
  background-color: #21c74b;
}

.vt .alt_s04, .vt .alt_s040 {
  background-color: #1db142;
}

.vt .alt_s035 {
  background-color: #1a9b3a;
}

.vt .alt_s03, .vt .alt_s030 {
  background-color: #168632;
}

.vt .alt_s025 {
  background-color: #12702a;
}

.vt .alt_s02, .vt .alt_s020 {
  background-color: #0f5a22;
}

.vt .alt_s015 {
  background-color: #0b4419;
}

.vt .alt_s01, .vt .alt_s010 {
  background-color: #082e11;
}

.vt .alt_s005 {
  background-color: #041809;
}

.vt .alt_s0, .vt .alt_s00, .vt .alt_s000 {
  background-color: #000000;
}

.vt #logo {
  width: 65px;
  height: 65px;
  margin: 5px;
}

.vt .iso-background__repeating-grid {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-repeating-background.png");
  background-repeat: repeat;
}

.vt .iso-background__photo {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-pattern-photo-detail-1500w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vt .iso-background__mitsubishis {
  background-image: url("https://ssme.s3.filebase.com/theme/assets/iso__grid-Mitsubishis-1500w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vt .iso-background__repeating-grid.fixed,
.vt .iso-background__photo.fixed,
.vt .iso-background__mitsubishis.fixed {
  background-attachment: fixed;
}

.vt a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
}

.vt a.btn {
  color: #701258;
  background-color: white;
  border: solid #f5bfe7 1px;
  text-decoration: none;
}

.vt a.btn:visited {
  color: #701258;
  border: solid #701258 1px;
}

.vt a.btn:hover {
  color: #c7219d;
  border: solid #f1aadf 1px;
  text-decoration: underline;
}

.vt a.btn:active {
  color: #21c74b;
  border: solid #168632 1px;
  text-decoration: underline;
}

.vt a.btn-nav_back,
.vt a.btn-sidebar_toggle-menu,
.vt a.btn-alert_confirm {
  color: #701258;
  background-color: white;
  border: solid #f5bfe7 1px;
}

.vt a.btn-nav_back:visited,
.vt a.btn-sidebar_toggle-menu:visited,
.vt a.btn-alert_confirm:visited {
  color: #c7219d;
  background-color: #ffffff;
  border: solid #701258 1px;
}

.vt a.btn-nav_back:hover,
.vt a.btn-sidebar_toggle-menu:hover,
.vt a.btn-alert_confirm:hover {
  color: #ffffff;
  background-color: #c7219d;
  border: solid #701258 1px;
}

.vt a.btn-nav_back:active,
.vt a.btn-sidebar_toggle-menu:active,
.vt a.btn-alert_confirm:active {
  color: #ffffff;
  background-color: #21c74b;
  border: solid #168632 1px;
}

.vt a.btn-alert_confirm {
  background-color: white;
  border: solid #bff5cd 1px;
}

.vt a.icon-link svg,
.vt a.btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.vt a.btn-nav_back,
.vt a.btn-sidebar_toggle-menu {
  padding: .75rem;
}

.vt a.btn-nav_main,
.vt a.btn-alert_confirm {
  margin: .5rem .75rem;
  padding: .75rem .5rem;
}

.vt .grid__fixed-width a.btn-nav_back,
.vt .grid__fixed-width a.btn-sidebar_toggle-menu {
  margin: .5rem 0;
}

.vt a.btn-nav_main svg,
.vt a.btn-alert_confirm svg {
  margin-right: .75rem;
}

.vt .ribbon_nav,
.vt .ribbon_alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: .5rem;
}

.vt .grid__fixed-width .ribbon_nav,
.vt .grid__fixed-width .ribbon_alert {
  padding: .5rem 0;
}

.vt .ribbon_alert p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85rem;
}

.vt .ribbon_alert p strong {
  font-weight: 600;
}

.vt footer p {
  color: #ffffff;
}
