/*
 * Variables
 * =================
 * abstracts/variables
 */
// Colors
$red: red;

/* Monochromic */
$white: #ffffff;
$black: #000000;
// mono - Neutral Density Grey
$mono: #808080;
// squid - a cooler Monochromic alternative
$squid: #656e80;
// sepia - a warmer Monochromic alternative
$sepia: #806b61;

$padding: 1em;
