/*
* VerdantTongues.com
* ===========
* pages/vt.scss
*/
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/*
 * Define media breakpoints map
 * ==========
 * 'XS': Supports  2 column grid
 * 'SM': Supports  4 column grid
 * 'MD': Supports  8 column grid
 * 'LG': Supports 12 column grid
 * 'XL': Supports 12 column grid
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
.vt__rethink-reshape .int-vert__background {
  background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Zeitz-MoCAA_internal07-4000w5832h.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 375px) {
  .vt__rethink-reshape .zeitz-mocca_animated-logo {
    background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Shaka-Zulu_ani-125w.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 376px) and (max-width: 575px) {
  .vt__rethink-reshape .zeitz-mocca_animated-logo {
    background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Shaka-Zulu_ani-250w.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 125px;
    height: 125px;
  }
}

@media (min-width: 576px) and (max-width: 960px) {
  .vt__rethink-reshape .zeitz-mocca_animated-logo {
    background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Shaka-Zulu_ani-250w.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 125px;
    height: 125px;
  }
}

@media (min-width: 961px) and (max-width: 1180px) {
  .vt__rethink-reshape .zeitz-mocca_animated-logo {
    background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Shaka-Zulu_ani-500w.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1181px) {
  .vt__rethink-reshape .zeitz-mocca_animated-logo {
    background-image: url("https://verdant.s3.filebase.com/content/rethink-reshape/Shaka-Zulu_ani-500w.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }
}
